<footer>
    <div class="footer-content">
        <div class="team">
            <p>&copy; 2025 RideNow - Todos los derechos reservados</p>
            <p>Desarrollado por: Kevin Torres, Rossimar Jiménez, Carlos Rincones y Meikell Montoya</p>
        </div>
        <div class="social-links">
            <a href="https://github.com/Rossy26" target="_blank" aria-label="Rossimar GitHub">
                <i class="bi bi-github"> Rossimar</i>
              </a>
              <a href="https://github.com/meikell007" target="_blank" aria-label="Meikell GitHub">
                <i class="bi bi-github"> Meikell</i>
              </a>
              <a href="hhttps://github.com/kevintorresleonel" target="_blank" aria-label="Kevin GitHub">
                <i class="bi bi-github"> Kevin</i> 
              </a>
              <a href="https://github.com/carlosrs14" target="_blank" aria-label="Carlos GitHub">
                <i class="bi bi-github"> Carlos</i> 
              </a>
        </div>
    </div>
</footer>
