<main>
    <div id="titulo">
      <h1>Buscar un viaje</h1>
    </div>
    <div class="barras-buscar">
      <input
        type="search"
        id="barra-origen"
        placeholder="🔍 Origen"
        [(ngModel)]="origen"
      />
      <input
        type="search"
        id="barra-destino"
        placeholder="🔍 Destino"
        [(ngModel)]="destino"
      />
    </div>
  
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Fecha</th>
          <th>Hora(miltar)</th>
          <th>Prestador de servicio</th>
          <th>Precio</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let viaje of viajes">
          <td>{{ viaje.id }}</td>
          <td> origen </td>
          <td> destino </td>
          <td>{{ viaje.fecha }}</td>
          <td>{{ viaje.hora }}</td>
          <td>nombre de servicio</td>
          <td>{{ viaje.precio }}</td>
          <td>{{ viaje.tipo }}</td>
        </tr>
        
      </tbody>
    </table>
  </main>
  
