<main>
    <div id="titulo">
      	<h1>Buscar un viaje</h1>
    </div>
    <div class="barras-buscar">
      	<input
			type="search"
			id="barra-origen"
			placeholder="🔍 Origen"
			[(ngModel)]="origen"
		/>
		<input
			type="search"
			id="barra-destino"
			placeholder="🔍 Destino"
			[(ngModel)]="destino"
		/>
    </div>
  
    <table>
		<thead>
			<tr>
				<th>Origen</th>
				<th>Destino</th>
				<th>Fecha</th>
				<th>Hora(miltar)</th>
				<th>Precio</th>
				<th>Tipo</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let viaje of viajes">
				<td (click)="informacion(viaje)"> origen {{ viaje.idLocacionOrigen }} </td>
				<td (click)="informacion(viaje)"> destino {{ viaje.idLocacionDestino }}</td>
				<td (click)="informacion(viaje)">{{ viaje.fecha }}</td>
				<td (click)="informacion(viaje)">{{ viaje.hora }}</td>
				<td (click)="informacion(viaje)">$ {{ viaje.precio }}</td>
				<td (click)="informacion(viaje)">{{ viaje.tipo }}</td>
				<td><i (click)="reservar(viaje)" class="bi bi-plus-circle-fill"></i></td>
			</tr>
		</tbody>
    </table>
  </main>
  
