<main>
    <div id="titulo">
      <h1>Estas son tus reservas:</h1>
    </div>
  
    <table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Fecha en que se hizo</th>
				<th>Id viaje</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let reserva of reservas">
				<td (click)="masInfo(reserva.idViaje)" > {{reserva.id}}</td>
				<td (click)="masInfo(reserva.idViaje)" > {{reserva.fecha}} </td>
				<td (click)="masInfo(reserva.idViaje)" > {{reserva.idViaje}} </td>
				<td>
					<i (click)="borrar(reserva)"  class="bi bi-trash3-fill"></i>
				</td>
			</tr>
		</tbody>
    </table>
</main>
