<main>
    <div id="titulo">
      <h1>Estas son tus reservas:</h1>
    </div>
  
    <table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Fecha en que se hizo</th>
				<th>Id viaje</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let reserva of reservas">
				<td (click)="masInfo(reserva.idViaje)" > {{reserva.id}}</td>
				<td (click)="masInfo(reserva.idViaje)" > {{reserva.fecha}} </td>
				<td (click)="masInfo(reserva.idViaje)" > {{reserva.idViaje}} </td>
				<td>
					<i (click)="borrar(reserva)"  class="bi bi-trash3-fill"></i>
					<i (click)="resenar(reserva.idViaje)"  class="bi bi-star-fill"> reseñar</i>
					<i (click)="abrirModalAdding(reserva.idViaje)"  class="bi bi-exclamation-triangle-fill">Denunciar</i>
				</td>
			</tr>
		</tbody>
    </table>
</main>
<div class="modal" [class.show]="isAddingDenuncia">
    <div class="modal-content">
        <div class="input-modal">
            <h2>Nueva Denuncia</h2>
            <div class="field">
                <label for="">Descripcion</label>
                <input [(ngModel)]="newDenuncia.descripcion" name="descripcion" type="text">
            </div>
            <div class="btn-modal">
                <button type="submit" (click)="denunciar()">Guardar</button>
                <button type="submit" (click)="isAddingDenuncia = false">Cancelar</button>
            </div>
        </div>
    </div>
</div>
